{% extends 'navbar.html' %}
{% block content %} 
  
<div class="about-section">
   <h1>About Us Page</h1>
   <p data-field="About_1">Some text about who we are and what we do.</p>
 </div>
 
 <h2 style="text-align:center">Our Mission</h2>
 <div class="row">
   <div class="column">
     <div class="card">
       <div class="container">
         <p data-field="About_1" ></p>            
       </div>
     </div>
   </div>
 
   <div class="column">
     <div class="card">
       <div class="container">
         <p data-field="About_2">          
         </p>
       </div>
     </div>
   </div>
   <div class="column">
    <div class="card">
      <div class="container">
        <p data-field="about3"></p><a href="https://www.sasuf.org/">SASUF</a>        
        <p data-field="about4"></p><a href="mailto:william.jobe@hv.se\">Dr. William Jobe</a> 
        <p data-field="about5"></p><a href="mailto:linnea.stansert@gmail.com\">Linnea Stansert Katzen</a>
        <p data-field="about6"></p><a href="mailto:karlleroux@gmail.com\">Dr. Karl Le Roux</a>
      </div>
    </div>
  </div>
 </div>
   <!-- <div class="about-text">
      <p>
         The Philani Maternal, Child Health and Nutrition Trust has been addressing maternal, 
         child health and nutrition problems in the informal settlements surrounding Cape Town since 1979. 
         Philani's mandate is sustainable community health, and, over the years, we have developed programmes to meet the needs of the communities we serve. 
         As an organisation we aim to improve health outcomes by combining our skills and resources with the knowledge and resources that exist in the community.
      </p>
      <p>
         This web application is a pilot study financed by <a href="https://www.sasuf.org/">SASUF</a> to distribute health information made by students (Magnus Hansson and Carolin Gull) and <a href="mailto:william.jobe@hv.se">Dr. William Jobe</a> at University West in Trollhättan, Sweden as part of a research project headed by Stellenbosch University
         in cooperation with <a href="mailto:linnea.stansert@gmail.com">Linnea Stansert Katzen</a> and <a href="mailto:karlleroux@gmail.com">Dr. Karl Le Roux</a>. Please feel free to contact any of us with questions and/or comments.
      </p>
   </div> -->
{% endblock %}

<!-- <div class="about-section">
   <h1>About Us Page</h1>
   <p>Some text about who we are and what we do.</p>
 </div>
 
 <h2 style="text-align:center">Our Mission</h2>
 <div class="row">
   <div class="column">
     <div class="card">
       <div class="container">
         <p>
            The Philani Maternal, Child Health and Nutrition Trust has been addressing maternal, 
            child health and nutrition problems in the informal settlements surrounding Cape Town since 1979. 
            Philani's mandate is sustainable community health, and, over the years, we have developed programmes to meet the needs of the communities we serve. 
            As an organisation we aim to improve health outcomes by combining our skills and resources with the knowledge and resources that exist in the community.
         </p>
       </div>
     </div>
   </div>
 
   <div class="column">
     <div class="card">
       <div class="container">
         <p>
            This web application is a pilot study financed by <a href="https://www.sasuf.org/">SASUF</a> to distribute health information made by students (Magnus Hansson and Carolin Gull) and <a href="mailto:william.jobe@hv.se">Dr. William Jobe</a> at University West in Trollhättan, Sweden as part of a research project headed by Stellenbosch University
            in cooperation with <a href="mailto:linnea.stansert@gmail.com">Linnea Stansert Katzen</a> and <a href="mailto:karlleroux@gmail.com">Dr. Karl Le Roux</a>. Please feel free to contact any of us with questions and/or comments.
         </p>
       </div>
     </div>
   </div>
 </div> -->