{% extends 'navbar.html' %}
{% block content %}
   <div id="category" class="category-container">
     
            <a href="/videos/pregnancy">
               <img src="/static/images/pregnancy.jpg"/></a>
         
            <a href="/videos/newmothers">
               <img src="/static/images/breastfeeding.png"/></a>
 
            <a href="/videos/nutrition">
               <img src="/static/images/nutrition and food.jpg"/></a>
            
            <a href="/videos/earlychildhoodproblems">
               <img src="/static/images/EarlyChildhoodProblems.jpg"/></a>
            
            <a href="/videos/eatwellandsavemoney">
               <img src="/static/images/EatingWellAndSavingMoney.png"/></a>
            
            <a href="/videos/hiv">
               <img src="/static/images/HIV.jpg"/></a>
               
            <a href="/videos/tb">
               <img src="/static/images/TB.jpeg"/></a>  
               
            <a href="/videos/immunization">
               <img src="/static/images/immunization.jpg"/></a>  
               
   </div>
{% endblock %}