{% extends 'navbar.html' %}
{% block content %}

  <form class="login-form" method="post" action="/login">
    <h1>Login</h1>
      <label for="username"></label>
      <input type="text" name="username" placeholder="Username" id="username" required>
      <label for="password"><br/></label>
      <input type="password" name="password" placeholder="Password" id="password" required>
      <div class="msg">{{ msg }}</div>
      <input class="login-form-button" type="submit" value="Login">
  </form> 
  {% endblock %}