<!DOCTYPE html>
<html>

<head>

   <meta charset="utf-8" />
   <title>Philani resources</title>
   <meta name="viewport" content="width=device-width, initial-scale=1" />
   <link rel="stylesheet" href="/static/css/main.css" />
   <link rel="stylesheet" href="/static/css/font-awesome.min.css" />
   <script defer="defer" src="/static/js/languagechange.js"> </script>
   <link rel="feature" href="/static/js/languagechange.js" />
   <link rel="stylesheet" href="/static/css/dashboard.css">
   <link rel="stylesheet" href="/static/css/login.css">
   <link rel="shortcut icon" href="../static/images/favicon.ico">
   <script defer="defer" src="/static/js/feature.js"> </script>
   <link rel="feature" href="/static/js/feature.js" />
   


</head>

<body>
   <section style="display: none;" class="main" lang="xh">

      <div id="navbar" class="main">
         <ul>
            <li><a data-field="Home" class="active" href="/"></a></li>
            <li><a data-field="Videos" href="/videos"></a></li>
            <li><a data-field="Pictures" href="/pictures"></a></li>
            <li><a data-field="About" href="/about"></a></li>
            {% if loggedin == "true" %}
            <li><a data-field="Upload" href="/upload"></a></li>
            <li><a data-field="Logout" class="float-right" href="/logout">logout</a></li>
            {% endif %}
            {% if loggedin == "false" %}
            <li><a data-field="Login" class="float-right" href="/loginpage"></a></li>
            {% endif %}
            <!-- <li><a class="float-right" href="/adminpage">AdminPage</a></li> -->
            <li><button data-field="ChangeLanguage" class="change-language" type="button">Change language</button></li>
            <li><a data-field="Chat" href="/chat"></a></li>
         </ul>

      </div>

      <!--Navbar for mobile and tablet - Small size scree-->
      <div class="flex-container-search">
         <div class="dropdown">
            <button class="dropbtn">
               <img class="img-menu" src="/static/images/white-circled-menu-icon.png" alt="menu/">
            </button>
            <div class="dropdown-content">
               <a data-field="Home" class="active" href="/"></a>
               <a data-field="Videos" href="/videos"></a>
               <a data-field="Pictures" href="/pictures"></a>
               <a data-field="About" href="/about"></a>
            </div>
            
               <button data-field="ChangeLanguage" id="changeLanguageID" class="change-language-pad" type="button">Change language</button>
         </div>
         <div id="loginID" class="dashboard">
            {% if loggedin == "true" %}
            <a data-field="Upload" href="/upload"></a>
            <a data-field="Logout" href="/logout">logout</a>
            {% endif %}
            {% if loggedin == "false" %}
            <a data-field="Login" href="/loginpage"></a>
            {% endif %}
         </div>

      </div>

      <div class="content">
         {% block content %}{% endblock %}
      </div>

      <!--Navbar is compacted for small screen-->


   </section>

</body>

</html>