{% extends 'navbar.html' %}
{% block content %}
    <div class="wrapper flex-container-div">
      <div class="parent-div">
         <div>
            <video id="videos" type="video/mp4" src="/static/videos/Impilo yengqondo kumama onosana (Mental Health for new Mothers).mp4" alt="Impilo yengqondo kumama onosana (Mental Health for new Mothers)" controls ></video>
         </div> 
         <p class="illnessText">Impilo yengqondo kumama onosana (Mental Health for new Mothers)</p>
         <div class="flex-container-icon">
            <button class="downloadBtnPos"><a href="/static/videos/Impilo yengqondo kumama onosana (Mental Health for new Mothers).mp4" download="Impilo yengqondo kumama onosana (Mental Health for new Mothers)"><img id="downloadButton" src="/static/images/download.png"/></a>Khuphela</button>
         </div>
      </div>
      <div class="parent-div">
         <div>
            <video id="videos" type="video/mp4" src="/static/videos/Ubunzima bokuncancisa (Challenges with breastfeeding).mp4" alt="Ubunzima bokuncancisa (Challenges with breastfeeding)" controls ></video>
         </div> 
         <p class="illnessText">Ubunzima bokuncancisa (Challenges with breastfeeding)</p> 
         <div class="flex-container-icon">
            <button class="downloadBtnPos"><a href="/static/videos/Ubunzima bokuncancisa (Challenges with breastfeeding).mp4" download="Ubunzima bokuncancisa (Challenges with breastfeeding)"><img id="downloadButton" src="/static/images/download.png"/></a>Khuphela</button>
         </div>
      </div>
   
      <div class="parent-div">
         <div>
            <video id="videos" type="video/mp4" src="/static/videos/Ukuncancisa (Breastfeeding).mp4" alt="Ukuncancisa (Breastfeeding)" controls ></video>
         </div> 
         <p class="illnessText">Ukuncancisa (Breastfeeding)</p> 
         <div class="flex-container-icon">
            <button class="downloadBtnPos"><a href="/static/videos/Ukuncancisa (Breastfeeding).mp4" download="Ukuncancisa (Breastfeeding)"><img id="downloadButton" src="/static/images/download.png"/></a>Khuphela</button>
         </div>
      </div>
   </div>
   {% endblock %}