{% extends 'navbar.html' %}
{% block content %}

<audio src="/static/audios/Nutrition1.mp3" autoplay>autoplay</audio>
<div class="wrapper flex-container-div">
  
   <div class="parent-div">
      <div>
         <video id="videos" src="videos/Imifuno neziqhamo (Nutrition Fruits and Vegetables).mp4" type="video/mp4"
            alt="Imifuno neziqhamo (Nutrition Fruits and Vegetables)" controls></video>
      </div>
      <p class="illnessText">Imifuno neziqhamo (Nutrition Fruits and Vegetables)</p>
      <div class="flex-container-icon">
         <button class="downloadBtnPos"><a href="videos/Imifuno neziqhamo (Nutrition Fruits and Vegetables).mp4"
               download="Imifuno neziqhamo (Nutrition Fruits and Vegetables)"><img id="downloadButton"
                  src="images/download.png" /></a>Khuphela</button>
      </div>
   </div>
   <div class="parent-div">
      <div>
         <video id="videos" type="video/mp4"
            src="videos/Impawu ezinobungozi kubantwana abancinci (Dangers in Early Childhood).mp4"
            alt="Impawu ezinobungozi kubantwana abancinci (Dangers in Early Childhood)" controls></video>
      </div>
      <p class="illnessText">Impawu ezinobungozi kubantwana abancinci (Dangers in Early Childhood)</p>
      <div class="flex-container-icon">
         <button class="downloadBtnPos"><a
               href="videos/Impawu ezinobungozi kubantwana abancinci (Dangers in Early Childhood).mp4"
               download="Impawu ezinobungozi kubantwana abancinci (Dangers in Early Childhood)"><img id="downloadButton"
                  src="images/download.png" /></a>Khuphela</button>
      </div>
   </div>
   <div class="parent-div">
      <div>
         <video id="videos" type="video/mp4"
            src="videos/Impilo yengqondo kumama onosana (Mental Health for new Mothers).mp4"
            alt="Impilo yengqondo kumama onosana (Mental Health for new Mothers)" controls></video>
      </div>
      <p class="illnessText">Impilo yengqondo kumama onosana (Mental Health for new Mothers)</p>
      <div class="flex-container-icon">
         <button class="downloadBtnPos"><a
               href="videos/Impilo yengqondo kumama onosana (Mental Health for new Mothers).mp4"
               download="Impilo yengqondo kumama onosana (Mental Health for new Mothers)"><img id="downloadButton"
                  src="images/download.png" /></a>Khuphela</button>
      </div>
   </div>
   <div class="parent-div">
      <div>
         <video id="videos" type="video/mp4" src="videos/Intlobo zokutya (Macronutrients).mp4"
            alt="Intlobo zokutya (Macronutrients)" controls></video>
      </div>
      <p class="illnessText">Intlobo zokutya (Macronutrients)</p>
      <div class="flex-container-icon">
         <button class="downloadBtnPos"><a href="videos/Intlobo zokutya (Macronutrients).mp4"
               download="Intlobo zokutya (Macronutrients)"><img id="downloadButton"
                  src="images/download.png" /></a>Khuphela</button>
      </div>
   </div>
   <div class="parent-div">
      <div>
         <video id="videos" type="video/mp4" src="videos/Intsholongwane ka gawulayo (HIV in Pregnancy).mp4"
            alt="Intsholongwane ka gawulayo (HIV in Pregnancy)" controls></video>
      </div>
      <p class="illnessText">Intsholongwane ka gawulayo (HIV in Pregnancy)</p>
      <div class="flex-container-icon">
         <button class="downloadBtnPos"><a href="videos/Intsholongwane ka gawulayo (HIV in Pregnancy).mp4"
               download="Intsholongwane ka gawulayo (HIV in Pregnancy)"><img id="downloadButton"
                  src="images/download.png" /></a>Khuphela</button>

      </div>
   </div>
   <div class="parent-div">
      <div>
         <video id="videos" type="video/mp4" src="videos/Intsholongwane ka gawulayo ukhulelwe (HIV).mp4"
            alt="Intsholongwane ka gawulayo ukhulelwe (HIV)" controls></video>
      </div>
      <p class="illnessText">Intsholongwane ka gawulayo ukhulelwe (HIV)</p>
      <div class="flex-container-icon">
         <button class="downloadBtnPos"><a href="videos/Intsholongwane ka gawulayo ukhulelwe (HIV).mp4"
               download="Intsholongwane ka gawulayo ukhulelwe (HIV)"><img id="downloadButton"
                  src="images/download.png" /></a>Khuphela</button>
      </div>
   </div>

   <div class="parent-div">
      <div>
         <video id="videos" type="video/mp4" src="videos/Isifo sephepha (TB).mp4" alt="Isifo sephepha (TB)"
            controls></video>
      </div>
      <p class="illnessText">Isifo sephepha (TB)</p>
      <div class="flex-container-icon">
         <button class="downloadBtnPos"><a href="videos/Isifo sephepha (TB).mp4" download="Isifo sephepha (TB)"><img
                  id="downloadButton" src="images/download.png" /></a>Khuphela</button>
      </div>
   </div>
   <div class="parent-div">
      <div>
         <video id="videos" type="video/mp4" src="videos/Isikhohlela (Sputum).mp4" alt="Isikhohlela (Sputum)"
            controls></video>
      </div>
      <p class="illnessText">Isikhohlela (Sputum)</p>
      <div class="flex-container-icon">
         <button class="downloadBtnPos"><a href="videos/Isikhohlela (Sputum).mp4" download="Isikhohlela (Sputum)"><img
                  id="downloadButton" src="images/download.png" /></a>Khuphela</button>
      </div>
   </div>

   <div class="parent-div">
      <div>
         <video id="videos" type="video/mp4" src="videos/Istatshi kukutya okunika amandla (Nutrition starch).mp4"
            alt="Istatshi kukutya okunika amandla (Nutrition starch)" controls></video>
      </div>
      <p class="illnessText">Istatshi kukutya okunika amandla (Nutrition starch)</p>
      <div class="flex-container-icon">
         <button class="downloadBtnPos"><a href="videos/Istatshi kukutya okunika amandla (Nutrition starch).mp4"
               download="Istatshi kukutya okunika amandla (Nutrition starch)"><img id="downloadButton"
                  src="images/download.png" /></a>Khuphela</button>
      </div>
   </div>

   <div class="parent-div">
      <div>
         <video id="videos" type="video/mp4" src="videos/Izakhamzimba ezibaluleke kakhulu (Nutrition vitamins).mp4"
            alt="Izakhamzimba ezibaluleke kakhulu (Nutrition vitamins)" controls></video>
      </div>
      <p class="illnessText">Izakhamzimba ezibaluleke kakhulu (Nutrition vitamins)</p>
      <div class="flex-container-icon">
         <button class="downloadBtnPos"><a href="videos/Izakhamzimba ezibaluleke kakhulu (Nutrition vitamins).mp4"
               download="Izakhamzimba ezibaluleke kakhulu (Nutrition vitamins)"><img id="downloadButton"
                  src="images/download.png" /></a>Khuphela</button>
      </div>
   </div>

   <div class="parent-div">
      <div>
         <video id="videos" type="video/mp4" src="videos/Ubunzima bokuncancisa (Challenges with breastfeeding).mp4"
            alt="Ubunzima bokuncancisa (Challenges with breastfeeding)" controls></video>
      </div>
      <p class="illnessText">Ubunzima bokuncancisa (Challenges with breastfeeding)</p>
      <div class="flex-container-icon">
         <button class="downloadBtnPos"><a href="videos/Ubunzima bokuncancisa (Challenges with breastfeeding).mp4"
               download="Ubunzima bokuncancisa (Challenges with breastfeeding)"><img id="downloadButton"
                  src="images/download.png" /></a>Khuphela</button>
      </div>
   </div>

   <div class="parent-div">
      <div>
         <video id="videos" type="video/mp4" src="videos/Ukuncancisa (Breastfeeding).mp4"
            alt="Ukuncancisa (Breastfeeding)" controls></video>
      </div>
      <p class="illnessText">Ukuncancisa (Breastfeeding)</p>
      <div class="flex-container-icon">
         <button class="downloadBtnPos"><a href="videos/Ukuncancisa (Breastfeeding).mp4"
               download="Ukuncancisa (Breastfeeding)"><img id="downloadButton"
                  src="images/download.png" /></a>Khuphela</button>
      </div>
   </div>

   <div class="parent-div">
      <div>
         <video id="videos" type="video/mp4" src="videos/Ukuthintela abantwana (Immunization).mp4"
            alt="Ukuthintela abantwana (Immunization)" controls></video>
      </div>
      <p class="illnessText">Ukuthintela abantwana (Immunization)</p>
      <div class="flex-container-icon">
         <button class="downloadBtnPos"><a href="videos/HEUkuthintela abantwana (Immunization).mp4"
               download="Ukuthintela abantwana (Immunization)"><img id="downloadButton"
                  src="images/download.png" /></a>Khuphela</button>
      </div>
   </div>

   <div class="parent-div">
      <div>
         <video id="videos" type="video/mp4" src="videos/Ukutya kakuhle wonge nemali (Eating Well and Saving Money).mp4"
            alt="Ukutya kakuhle wonge nemali (Eating Well and Saving Money)" controls></video>
      </div>
      <p class="illnessText">Ukutya kakuhle wonge nemali (Eating Well and Saving Money)</p>
      <div class="flex-container-icon">
         <button class="downloadBtnPos"><a href="videos/Ukutya kakuhle wonge nemali (Eating Well and Saving Money).mp4"
               download="Ukutya kakuhle wonge nemali (Eating Well and Saving Money)"><img id="downloadButton"
                  src="images/download.png" /></a>Khuphela</button>
      </div>
   </div>

   <div class="parent-div">
      <div>
         <video id="videos" type="video/mp4" src="videos/Ukutya Xa Umama Ukhulelwe (Nutrition in Pregnancy).mp4"
            alt="Ukutya Xa Umama Ukhulelwe (Nutrition in Pregnancy)" controls></video>
      </div>
      <p class="illnessText">Ukutya Xa Umama Ukhulelwe (Nutrition in Pregnancy)</p>
      <div class="flex-container-icon">
         <button class="downloadBtnPos"><a href="videos/Ukutya Xa Umama Ukhulelwe (Nutrition in Pregnancy).mp4"
               download="Ukutya Xa Umama Ukhulelwe (Nutrition in Pregnancy)"><img id="downloadButton"
                  src="images/download.png" /></a>Khuphela</button>
      </div>
   </div>

</div>
{% endblock %}