{% extends 'navbar.html' %}
{% block content %}
<div class="wrapper flex-container-div">
   <p>
      This is a placeholder for pictures regarding health information.
   </p>

</div>

<!--Test cange Language Java script-->
<section style="display: none;" class="main" lang="en">
   <!-- <h1 data-field="header"></h1> -->
   <p data-field="content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua
   </p>
   <!-- <small data-field="sub"></small>
      <button data-field="button" type="button"></button> -->
{% endblock %}