{% extends 'navbar.html' %}
{% block content %}
<div class="wrapper flex-container-div">
   <div class="parent-div">
      <div>
         <video id="videos" type="video/mp4" src="/static/videos/Intsholongwane ka gawulayo (HIV in Pregnancy).mp4"
            alt="Intsholongwane ka gawulayo (HIV in Pregnancy)" controls></video>
      </div>
      <p class="illnessText">Intsholongwane ka gawulayo (HIV in Pregnancy)</p>
      <div class="flex-container-icon">
         <button class="downloadBtnPos">
            <a href="/static/videos/Intsholongwane ka gawulayo (HIV in Pregnancy).mp4"
               download="Intsholongwane ka gawulayo (HIV in Pregnancy)">
               <img id="downloadButton" src="/static/images/download.png" />
            </a>Khuphela</button>
      </div>
   </div>
   <div class="parent-div">
      <div>
         <video id="videos" type="video/mp4" src="/static/videos/Ukutya Xa Umama Ukhulelwe (Nutrition in Pregnancy).mp4"
            alt="Ukutya Xa Umama Ukhulelwe (Nutrition in Pregnancy)" controls></video>
      </div>
      <p class="illnessText">Ukutya Xa Umama Ukhulelwe (Nutrition in Pregnancy)</p>
      <div class="flex-container-icon">
         <button class="downloadBtnPos"><a href="/static/videos/Ukutya Xa Umama Ukhulelwe (Nutrition in Pregnancy).mp4"
               download="Ukutya Xa Umama Ukhulelwe (Nutrition in Pregnancy)"><img id="downloadButton"
                  src="/static/images/download.png" /></a>Khuphela</button>
      </div>
   </div>

</div>
{% endblock %}