{% extends 'navbar.html' %}
{% block content %}
<div id="videos">
   {% for video in videos %}
   <div class="parent-div">
      <div>
         <video id="videos" type="video/mp4" src="{{video.src}}" title="{{video.title}}" controls></video>
         <p class="illnessText text-fit">{{video.title}}</p>
         <button class="downloadBtnPos" style="width:100%"><a href="{{video.src}}" download="{{video.title}}" >
            <!-- <img id="downloadButton" src="/static/images/download.png" /> -->
            <i class="fa fa-download" data-field="Download"></i></a></button>
      </div>
   </div>
   {% endfor %}
</div>
{% endblock %}